@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
}

#container {
    width: 500px;
    margin: 10px auto;

}

#title > li{
    margin: 0;
    padding: 0;
    float: left;
    width: 100px;
    list-style-type: none;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    
}

#title {
    margin: 0;
    padding: 0;

    height: 30px;
    background: #222;
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
}

.content {
    width: 460px;
    margin: 0 auto;
    border: 1px solid black;
    display: none;
    border-top-width: 0px;

}

#title > li.current {
    background: gray;
}

body {
    font:12px/1.5 Tahoma;
}
