body, input {
	margin: 0;
	padding: 0;
}


#container {
	width: 200px;
	margin: 0 auto;
}

#msg {
	width: 195px;
	height: 50px;
	font-size: 15px;
	margin-top: 5px;
	border: 1px solid olive;
	background: gray;
	display: none;
}
