html, body, ul, li, .container, .button {
	margin: 0;
	padding: 0;
	
}

.container {
	width: 200px;
	border: 1px solid #eee;
	margin: 10px auto;
}

.button {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	width: 200px;
	background-color: lightgray;
	border: 1px solid #eee;
	cursor: pointer;
}

.list {
	font-size: 10px;
	/*display: block;*/
}

.list ul li {
	list-style-type: none;
	height: 25px;
	line-height: 25px;
	background-color: lightgray;
}

.list ul li a {
	text-decoration: none;
	color: lightslategray;
	display: block; 
	/*这里是将其变为块级元素,有块级元素的特性*/
	padding-left: 10px;
}

.list ul li a:hover {
	color: black;
	text-decoration: underline;
	background-color: #eee;
}
